<div class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="span12">

        <h1>
          Welcome back, <%= @sso_session.username %>!
        </h1>

        <p>
          You were already signed in.
        </p>

        <p>
          <%= link_to 'Sign Out', logout_url, class:'btn' %>
        </p>

      </div>
    </div>
  </div>
</div>
